.input-container {
  display: flex;
  width: 40%;
  align-items: center; // Center items vertically
  justify-content: center; // Center items horizontally
  margin: auto; // Center the container itself
  margin-top: 2rem;

  .textarea {
    flex-grow: 1; // Allow textarea to fill the available space
    margin-right: 5%;
  }

  button {
    width: 6rem;
    &:first-of-type {
      margin-right: 1rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: stretch;

    .textarea {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    button {
      width: auto;
      &:first-of-type {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}