.input-container {
  display: flex;
  width: 40%;
  align-items: center; // Center items vertically
  justify-content: center; // Center items horizontally
  margin: auto; // Center the container itself
  margin-top: 2rem;

  .textarea {
    flex-grow: 1; // Allow textarea to fill the available space
    margin-right: 5%;
  }

  button {
    width: 6rem;
    &:first-of-type {
      margin-right: 1rem;
    }
  }
}