.input-container {
    display: flex;
    justify-content: space-between; // This will place the button to the right
    align-items: center; // This will center items vertically
    width: 50%;
    margin: 2vh auto;
  
    .input-field {
      width: 100%; // Adjust width as needed
    }
}