// @keyframes rotateGradient {
//     0% {
//       background-position: 0% 50%;
//     }
//     50% {
//       background-position: 100% 50%;
//     }
//     100% {
//       background-position: 200% 50%; // Ends at a position that visually matches the start
//     }
//   }
  
//   .rotate-gradient {
//     position: relative;
//     overflow: hidden;
//     background: linear-gradient(90deg, rgba(16,185,129,1) 0%, rgba(59,130,246,1) 25%, rgba(16,185,129,1) 50%);
//     background-size: 200% 200%;
//     transition: background 2s ease;
  
//     &:hover {
//       animation: rotateGradient 4s ease infinite; // Adjusted duration for the new keyframe setup
//     }
//   }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    margin-top: 2%;
}
  
.inputs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; /* Adjust the gap as needed, now using rems */
    width: 90%; /* Adjust based on your layout, now using percentage */
    margin-bottom: 2rem; /* Space between inputs and button, now using rems */
  }
  
.file-upload-container, .textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures the button is centered in the container */
}