$border-offset: 0px;
$blur-offset: 5px;

.textarea-container textarea::placeholder {
  color: #4b494c ;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    margin-top: 2%;

    @media (max-width: 768px) {
        width: 100%;
        align-items: stretch;
        margin-top: 10%;
      }
}
  
.inputs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
  }
}
  
.file-upload-container,
.textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

// TODO Waiting for Firefox to add CSS Houdini https://caniuse.com/?search=Houdini, working in Chrome
@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.textarea-container:not(.is-disabled) {
  position: relative;
  overflow: visible; // Ensure the extended blurred border is visible
  padding: 5px;
  border-radius: 12px;

  &:hover:before, &:hover:after {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(var(--rotate), #6366f1 10%, #2c7da0 50%, #63e7d8 90%);
    background-size: 200% 200%;
    background-position: center;
    animation: spin 4s linear infinite;
  }
  &:hover:before {
    top: -$border-offset;
    left: -$border-offset;
    right: -$border-offset;
    bottom: -$border-offset;
    border-radius: 12px;
    // No blur on this layer to keep the 2px border clear
  }
  &:hover:after {
    top: -$blur-offset; // Extend further from the border
    left: -$blur-offset;
    right: -$blur-offset;
    bottom: -$blur-offset;
    border-radius: 12px;
    filter: blur(8px); // Apply blur effect to soften the extended gradient
    z-index: -2;
    // This creates the blurred effect from 2px to 10px away from the border
  }
}