.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto;
    margin-top: 2%;
}
  
.inputs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
    margin-bottom: 2rem;
  }
  
.file-upload-container, .textarea-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Step 2: Define keyframes for the moving gradient */
@keyframes movingGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Adjusted styles for .textarea-container to ensure borders are visible */
.textarea-container {
  position: relative;
  overflow: hidden; /* Change to visible to ensure borders are not cut off */
  padding: 5px; /* Add padding to accommodate the border */
  border-radius: 12px; /* Add border-radius to match the ::before pseudo-element */

  &:hover:before {
    content: '';
    position: absolute;
    top: -5px; /* Adjust these values to ensure the border is visible */
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(132deg, #6366f1 10%, #2c7da0 50%, #63e7d8 90%);
    background-size: 200% 200%;
    animation: movingGradient 4s linear infinite;
    // border-radius: 12px; /* Ensure this matches or exceeds the textarea's border-radius */
  }
}