@import "../../index.scss";

.navbar {
    background-color: $cadet-gray;
    height: 4rem; // 60px -> 4rem (assuming 1rem = 15px)
    display: flex;
    align-items: center;
    padding: 0 1.33rem; // 20px -> 1.33rem
    color: black;
    border-radius: 1.33rem; // 20px -> 1.33rem
  
    .navbar__title {
        margin-right: 2rem; // 30px -> 2rem
        flex-shrink: 0;
        color: $rich-black; // Override the color of the link
        text-decoration: none; // Remove the underline of the link
  
        &:hover {
          color: $rich-black; // Keep the color the same on hover
        }
      }
  
    .navbar__links {
      display: flex;
      gap: 1.33rem; // 20px -> 1.33rem
      flex-grow: 1; // Allow the links to take up remaining space
  
      .navbar__link {
        color: $rich-black;
        text-decoration: none;
        transition: color 0.3s ease;
  
        &:hover {
          color: $cerulean;
        }
      }
    }
    
    .navbar__settings {
      color: $rich-black;
      transition: transform 0.3s ease;
      
      &:hover {
        transform: rotate(360deg);
      }
    }

    .navbar__logo {
      width: 100px; /* adjust as needed */
      height: auto; /* maintain aspect ratio */
    }
}

@media (max-width: 768px) {
  .navbar .navbar__links {
    gap: 0.33rem;
  }

  .navbar {
    min-height: 6rem;
    padding: 1rem;
  }

  .navbar__links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .navbar__link {
      flex: 1 1 40%;
      text-align: center;
    }
  }
}

// TODO INCLUDE WEBKIT AND MOZ FOR BROWSER COMPATIBILITY ?
@keyframes moveGradient {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: -200% center;
  }
}

.navbar .navbar__links .navbar__link.navbar__link--active {
  color: transparent;
  background-image: linear-gradient(
    90deg,
    #6366f1,
    #2c7da0,
    #42B4C0,
    #6366f1,
  );
  background-size: 200% 200%;
  background-clip: text;
  animation: moveGradient 5s linear infinite;
}