.navbar {
    background-color: rgb(20, 21, 22);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    border-radius: 20px;
  }